<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ChatBot for Open Systems</title>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>
  <header>
    <h1>Chatbot Website</h1>
  </header>

  <main>
      <div id="chatbot-container">
      </div>
      <div id="user-input">
          <input type="text" id="message-input" placeholder="What can I do for you today ?">
          <button id="send-button">Send</button>
      </div>
  </main>

  <script>
      $(document).ready(function () {
          $('#send-button').click(function () {
              $.ajax({
                  type: 'POST',
                  url: '',  // Assurez-vous que l'URL correspond à celle que vous avez définie dans urls.py
                  success: function (data) {
                      console.log(data.result);  // Manipulez les résultats retournés comme vous le souhaitez
                  },
              });
          });
      });
  </script>
</body>
</html>